*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	min-height: 100vh;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px; 
	backdrop-filter: blur(7px) brightness(0.5);
	background-image: url(bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
 	background-attachment: fixed;
 	-ms-overflow-style: none;
}

::-webkit-scrollbar {
	display: none;
}

a {
	color: white;
  	text-decoration:none;
	font-family: 'Quicksand', sans-serif;
}

a:hover {
	color: #adadad;
}

sup {
  	font-size: 15px;

}

blockquote {
	font-size: 20px;
	font-family: 'Quicksand', sans-serif;
  	margin: 40px 0;
}

.hed {
	text-align: center;
	display: block;
	font-size: 2.5rem;
	color: white;
	font-family: 'Jaldi', sans-serif;

}

.cards{

	align-items: flex-start;
	display: flex;
	justify-content: center;
	padding: 0 25px;
  	margin: 40px 0;
}

.card-grid {
	display: grid;
	max-width: 1280px;
	width: 100%;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 25px;
	grid-row-gap: 25px;
}

.card-grid-x {
	display: grid;
	max-width: 1280px;
	width: 100%;
	grid-template-columns: repeat(1, 1fr);
	grid-column-gap: 25px;
	grid-row-gap: 25px;
}

/* Small mobile */
@media screen and (max-width: 360px) {

	html {
		font-size: 10px;
	}

	.card-time {
		margin-top: 90%;
	}
}

/* Desktop */
@media screen and (min-width: 1024px) {
	.card-grid {
		grid-template-columns: repeat(5, 1fr);
	}

	.card-grid-x {
		grid-template-columns: repeat(1, 1fr);
	}

	html {
		font-size: 130%;
	}

	.card-time {
		margin-top: 75%
	}

	.footr {
		font-size: 15px;
	}

	.med-txt {
		font-size: 1.5rem;
	}


}

/* Mobiles */
@media screen and (min-width: 361px) and (max-width: 767px) {
	.card-time {
		margin-top: 80%;
	}

	.footr {
	  	font-size: 10px;
	}

	.card-x:before {
		padding-bottom: 14%;
	}
}

/* Ipad */
@media screen and (min-width: 768px) and (max-width: 1000px) {
	html {
		font-size: 150%;
	}

	.card-time {
		margin-top: 70%;
	}

	.card-grid {
		grid-template-columns: repeat(3, 1fr);
	}

	.footr {
	  	font-size: 12px;
	}

	.card-x:before {
		padding-bottom: 5%;
	}
}

.card {
	position: relative;
}

.card:before {
  content: '';
  display: block;
  padding-bottom: 140%;
}

.card-x {
	position: relative;
}

.card-x:before {
  content: '';
  display: block;
  padding-top: 7%;
}

.card-bg {
  background-size: cover;
  background-position: center;
  bottom: 0;
  filter: brightness(0.75);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  filter: brightness(0.8);
  transition: 
    filter 0.3s linear,
    transform 0.3s linear;
}

.card:hover .card-bg {
	transform: scale(1.02);
}

.card-grid:hover > .card:not(:hover) .card-bg{
  filter: brightness(0.6) blur(5px);
  color: transparent;
}

.card-grid:hover > .card:not(:hover) .card-head{
  color: transparent;
}

.card-grid:hover > .card:not(:hover) .card-subhead{
  color: transparent;
}

.card-grid:hover > .card:not(:hover) .card-time{
  color: transparent;
}
.card-ct {
	top: 0;
	padding: 25px;
	position: absolute;
}

.card-head {
	color: white;
	font-size: 1.3rem;
	word-spacing: 100vw;
}

.card-head-x {
	color: white;
	font-size: 1.2rem;
	vertical-align: text-bottom;
}

.card-subhead {
	color: #ededed;
	font-size: 0.6rem;

}

.card-time{
  	color: #ededed;
 	font-size: 0.6rem;

}

.text {
  	text-align: center;
  	color: white;
  	font-family: 'Nunito', sans-serif;
  	font-size: 15px
}

.not-ready {
	filter: brightness(0.4) saturate(0) blur(1px);
  	color: transparent;
}

.border-s {
  	border-radius: 10px;
}

.border-x {
	border-radius: 18px;
}

hr {
	border: 0;
	border-bottom: solid 1px;
	margin: 0 3.5rem;
	border-bottom-color: rgba(255, 255, 255, 0.2);
}

.nav {
	 font-size: 1rem;
 	text-align: center;
 	vertical-align: middle;
 	color: white;
 	width: 100%;
 	font-family: 'Jaldi', sans-serif;
}

.eth {color: #f04654}

.footr {
  	text-align: center;
  	color: white;
  	font-family: 'Nunito', sans-serif;
}

.so-bg {
	filter: brightness(0.5);
}

.so-text {
	color: white;
	font-size: 1rem;
	text-align: center;
}
